h1 {
    color: green;
    /* font-size: 20px;
    text-align: center;
    background-color: black; */
    font-family: 'Montseratt';
}

/* Resource for CSS styling basics: https://www.w3schools.com/css/css_intro.asp */